* {
  white-space: normal;
}

.arts-grid {
  &__wrapper {
    margin: 0 auto;
    height: auto !important;

    &_ {
      padding: 10px;
    }
  }

  &__item {
    height: auto !important;
    display: flex;
  }
}

.home-card {
  width: 200px;
  height: 350px;
}

.cart-with-controls {
  overflow: hidden;
  z-index: 999999;
}

.cart-controls {

  width: -webkit-fill-available;
  padding: 5px;
  color: white;
  z-index: 99999999;
}

.home-card__image {
  background-position: center;
  background-size: cover;
}

.Card {
  overflow: hidden;
}

.cardScroll-home > .HorizontalScroll > .HorizontalScroll__in > .CardScroll__in {
  padding: 10px 0;
}

.home-card__show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-card__show-more > div {
  margin-bottom: 10px;
}

.promote-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  height: 250px;
  text-align: center;
}

.cart-controls {
  display: flex;
  padding: 15px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  color: #99A2AD;
  background-color: var(--content_tint_background);
}

.cart-controls > * {
  margin-right: 20px;
}

.cards-grid {
  padding-bottom: 20px;
  margin: 0 auto;

  &__item {
    width: 90%;
    margin: 0 auto 20px;

    &-moderate {
      width: 170px;


      &-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.image {
  transition: opacity .5s;

  &-loading {
    opacity: 0;
  }

  &-loaded {
    animation: showImages .4s;
  }
}

@keyframes showImages {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;

  }
  100% {
    transform: scale(1);
  }
}

.profile-card {
  position: relative;
}

.CardGrid .Card {
  margin-bottom: 10px;
}

.normalize-text {
  white-space: normal;
}

.banner {
  position: absolute;
  bottom: 0;
}

#error_page > .Panel__in > .Separator {
  display: none;
}

.progressWrapper {
  display: flex;
  align-items: center;
}

.progressItem-progress {
  width: 100%;
  padding: 0 20px 0 20px;
}

.Header__in {
  align-items: center;
}

.bug-tag {
  display: block;
  padding: 5px;
  color: var(--text_primary);
  background-color: var(--content_tint_background);
  max-width: 100px;
  text-align: center;
  border-radius: 10px;
}

.bug-fixed {
  color: white;
  background-color: var(--button_commerce_background);
}

.gradient-block {
  &__1 {
    background: linear-gradient(120deg, rgb(224, 195, 252) 0%, rgb(142, 197, 252) 100%) -52px 2020px rgb(36, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}